matrix:
  include:
    - os: linux
      dist: trusty
      language: python
      python: "2.7"
    - os: linux
      dist: trusty
      language: python
      python: "3.5"
    - os: osx
      osx_image: xcode8.3
      language: generic

# install boost on linux only (already here on osx)
addons:
  apt:
    packages:
      - cmake libboost-program-options-dev

# install python3 on osx
before_install:
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew install python3; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then virtualenv venv --python=python3; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then source venv/bin/activate; fi

install:
  - pip install --upgrade pip
  - pip install pandas numpy joblib pytest
  - mkdir -p build
  - cmake ..
  - make
  - make install

script:
  - pytest ./test

cache:
  - pip

notifications:
  email: false
