matrix:
  include:
    - os: linux
      dist: trusty
      language: python
      python: "2.7"
    - os: linux
      dist: trusty
      language: python
      python: "3.5"
    - os: osx
      osx_image: xcode7.3
      language: generic

notifications:
  email: false

install:
  - pip install --upgrade pip
  - pip install pandas numpy joblib pytest
  - python setup.py build
  - python setup.py install

script:
  - pytest

addons:
  apt:
    packages:
      - libboost-program-options-dev

cache:
  - pip
